footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .github-icon {
    width: 30px;
    height: auto;
    margin-left: 5px;
  }
  
  .created-by {
    font-size: 1em;
  }
  